/* comentario en sass y css */
.img-container {
  display: flex;
  justify-content: space-between; }

.img {
  width: 200px;
  height: auto; }

/* estilos de html home */
.img-container {
  display: flex;
  justify-content: space-between; }

.img {
  width: 200px;
  height: auto; }

.header-home {
  background-color: #fadaee;
  display: flex;
  justify-content: center; }

.img-container {
  display: flex;
  justify-content: space-between; }

.img {
  width: 200px;
  height: auto; }

header {
  background-color: #DEAEAF;
  display: flex;
  justify-content: center; }
  header h1 {
    color: #e0ad76;
    font-size: 2rem; }
  header nav {
    display: flex; }
    header nav ul li {
      color: #dfadb6; }

.img-container {
  display: flex;
  justify-content: space-between; }

.img {
  width: 200px;
  height: auto; }
