/* comentario en sass y css */
.img-container {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1; }

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

/* estilos de html home */
.img-container {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1; }

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.header-home {
  background-color: #fadaee;
  display: flex;
  justify-content: center; }

.img-container {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1; }

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

header .navbar-nav {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin: auto; }

header a {
  color: #E6B168;
  text-decoration: none; }

.imagen-container {
  height: 90%;
  width: 100%;
  top: 0;
  left: 0;
  gap: 10px; }
  .imagen-container img {
    width: 100%;
    height: 90%;
    object-fit: cover; }

body, html {
  margin: 0;
  padding: 0;
  height: 100%; }

.caja {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  justify-content: space-between;
  align-items: center; }
  .caja img {
    width: 100%;
    height: 400px; }

.gif img {
  width: 60%;
  display: grid;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  height: 300px;
  margin: 0 auto; }

.title {
  text-align: center;
  font-family: 'Times New Roman', Times, serif; }

.parrafo-contenedor {
  text-align: center;
  text-decoration: none; }

div .title {
  text-align: center; }

.parrafo p {
  text-align: center;
  text-decoration: none; }

.peinados {
  gap: 10px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  margin: 0 auto; }

.carousel-item {
  justify-content: center;
  width: 100%;
  height: 600px;
  align-items: flex-start; }
  .carousel-item img {
    object-fit: cover;
    grid: 0%; }

body {
  background-color: #A78A62; }

.contacto {
  margin: 0 auto;
  width: 50%;
  height: 150px; }
