// comentario en sass
/* comentario en sass y css */

// import de variables

@import "extra/variables";
// segunda utilidad de sass import
@import "extra/home";
@import "extra/variables";





// primer utilidad de sass
// nesting


// estilos para mis links
header{


    .navbar-nav{
        width: 50%;
        display: flex;
        justify-content: space-between;
        margin: auto;
        
    }
    a{
        color: #E6B168;
        text-decoration: none;
    }
} 


// estilos para el contenedor de las imagenes

.imagen-container{
    height: 90%;
    width: 100%;
    top: 0;
    left: 0;
    gap: 10px;
    img{
        width: 100%;
        height: 90%;
        object-fit: cover; 
    }
}

// estilos para cada imagen



body, html{
    margin: 0;
    padding: 0;
    height: 100%;
}

// estilos para img de home
.caja{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    
    img{
        width: 100%;
        height: 400px;

    }
}

// imagen de contacto

.gif{
    img{
        width: 60%;
        display: grid;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        height: 300px;
        margin: 0 auto;
    }
}


.title{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.parrafo-contenedor{
    text-align: center;
    text-decoration: none;
}


// estilos para service 
//peinados

div{
    .title{
        text-align: center;
        
    }
}

.parrafo{
    p{
        text-align: center;
        text-decoration: none;
    }
}





//estilos para img de blog
  
.carousel-item{
    justify-content: center;
    width: 100%;
    height: 600px;
    align-items: flex-start;  
    img{
        object-fit: cover;
        grid: 0%;
    }
}



//estilos para el fondo 

body{
    background-color:  #A78A62;
}


//estilo para bt

.contacto{
    margin: 0 auto;
    width: 50%;
    height: 150px;
}




    



    




    



