// comentario en sass
/* comentario en sass y css */

// import de variables

@import "extra/variables";
// segunda utilidad de sass import
@import "extra/home";
@import "extra/variables";



// primer utilidad de sass
// nesting

header.container{
    background-color: $color-principal;
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin: 0 auto;
    height: 70px;
    align-items: center;



    h1{
        color: $color-secundario;
        font-size: 2rem;
    }
    nav{
        display: flex;
        ul{
           li{
            color: rgb(223, 173, 182);
           } 
        }
    }
}


// estilos para el contenedor de las imagenes

.img-container{
    height: 90%;
    width: 90%;
    position: fixed;
    top: 0;
    left: 0;
    
}

// estilos para cada imagen

.img-container img{
    width: 90%;
    height: 90%;
    object-fit: cover;
}

body, html{
    margin: 0;
    padding: 0;
    height: 100%;
}
