// paleta de colores

$color-principal: #D1BDC1;
$color-secundario: hsl(31, 63%, 67%);

// estilos para el contenedor de las imagenes

.img-container{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

// estilos para cada imagen

.img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



